$body-base-font: 'NotoSansKR', arial, sans-serif, Arial, dotum, '돋움'; // 기본 폰트
$spoqa-font: 'Spoqa Han Sans Neo', arial, sans-serif, Arial, dotum, '돋움'; // 특정 폰트
$base-font-size: 20px; // 기본 폰트 사이즈
$base-color: #000; // 기본 색상
$line-height: 1.5; // 기본 line-height

// 미디어 쿼리 셋팅
$tablet: 1200px;
$mobile: 768px;
